<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">Welcome to our collection of premium watches</h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
      <div class="slider mySwiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-1-min.webp 1x, 
              /img/section-hero/mobile/slider-img-mobile-1@2x-min.webp 2x" 
              media="(max-width: 767px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-1-min.jpg 1x, 
              /img/section-hero/mobile/slider-img-mobile-1@2x-min.jpg 2x" 
              media="(max-width: 767px)">
              <source srcset="
              /img/section-hero/slider-img-1-min.webp 1x, 
              /img/section-hero/slider-img-1@2x-min.webp 2x" 
              media="(min-width: 768px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/slider-img-1-min.jpg 1x, 
              /img/section-hero/slider-img-1@2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <img class="slider-picture" 
              src="/img/section-hero/mobile/slider-img-mobile-1-min.jpg"
              alt="clock-1" 
              width="266" 
              height="200">
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-2-min.webp 1x, 
              /img/section-hero/mobile/slider-img-mobile-2@2x-min.webp 2x" 
              media="(max-width: 767px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-2-min.jpg 1x, 
              /img/section-hero/mobile/slider-img-mobile-2@2x-min.jpg 2x" 
              media="(max-width: 767px)">
              <source srcset="
              /img/section-hero/slider-img-2-min.webp 1x, 
              /img/section-hero/slider-img-2@2x-min.webp 2x" 
              media="(min-width: 768px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/slider-img-2-min.jpg 1x, 
              /img/section-hero/slider-img-2@2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <img class="slider-picture" 
              src="/img/section-hero/mobile/slider-img-mobile-2-min.jpg"
              alt="clock-2" 
              width="266" 
              height="200">
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-3-min.webp 1x, 
              /img/section-hero/mobile/slider-img-mobile-3@2x-min.webp 2x" 
              media="(max-width: 767px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-3-min.jpg 1x, 
              /img/section-hero/mobile/slider-img-mobile-3@2x-min.jpg 2x" 
              media="(max-width: 767px)">
              <source srcset="
              /img/section-hero/slider-img-3-min.webp 1x, 
              /img/section-hero/slider-img-3@2x-min.webp 2x" 
              media="(min-width: 768px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/slider-img-3-min.jpg 1x, 
              /img/section-hero/slider-img-3@2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <img class="slider-picture" 
              src="/img/section-hero/mobile/slider-img-mobile-3-min.jpg"
              alt="clock-3" 
              width="266" 
              height="200">
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-4-min.webp 1x, 
              /img/section-hero/mobile/slider-img-mobile-4@2x-min.webp 2x" 
              media="(max-width: 767px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-4-min.jpg 1x, 
              /img/section-hero/mobile/slider-img-mobile-4@2x-min.jpg 2x" 
              media="(max-width: 767px)">
              <source srcset="
              /img/section-hero/slider-img-4-min.webp 1x, 
              /img/section-hero/slider-img-4@2x-min.webp 2x" 
              media="(min-width: 768px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/slider-img-4-min.jpg 1x, 
              /img/section-hero/slider-img-4@2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <img class="slider-picture" 
              src="/img/section-hero/mobile/slider-img-mobile-4-min.jpg"
              alt="clock-4" 
              width="266" 
              height="200">
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-5-min.webp 1x, 
              /img/section-hero/mobile/slider-img-mobile-5@2x-min.webp 2x" 
              media="(max-width: 767px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/mobile/slider-img-mobile-5-min.jpg 1x, 
              /img/section-hero/mobile/slider-img-mobile-5@2x-min.jpg 2x" 
              media="(max-width: 767px)">
              <source srcset="
              /img/section-hero/slider-img-5-min.webp 1x, 
              /img/section-hero/slider-img-5@2x-min.webp 2x" 
              media="(min-width: 768px)"
              type="image/webp">
              <source srcset="
              /img/section-hero/slider-img-5-min.jpg 1x, 
              /img/section-hero/slider-img-5@2x-min.jpg 2x" 
              media="(min-width: 768px)">
              <img class="slider-picture" 
              src="/img/section-hero/mobile/slider-img-mobile-5-min.jpg"
              alt="clock-5" 
              width="266" 
              height="200">
            </picture>
          </li>
        </ul>
        <button class="swiper-button-next slider-button">
          <svg class="slider-button-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-right"></use>
          </svg>
        </button>
        <button class="swiper-button-prev slider-button">
          <svg class="slider-button-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-left"></use>
          </svg>
        </button>
        <div class="swiper-pagination"></div>
      </div>
      <picture>
        <source srcset="
            /img/section-hero/mobile/hero-img-min.webp    1x,
            /img/section-hero/mobile/hero-img@2x-min.webp 2x
          " media="(max-width: 767px)" type="image/webp" />
        <source srcset="
            /img/section-hero/mobile/hero-img-min.jpg    1x,
            /img/section-hero/mobile/hero-img@2x-min.jpg 2x
          " media="(max-width: 767px)" />
        <source srcset="
            /img/section-hero/hero-img-min.webp    1x,
            /img/section-hero/hero-img@2x-min.webp 2x
          " media="(min-width: 768px)" type="image/webp" />
        <source srcset="
            /img/section-hero/hero-img-min.jpg    1x,
            /img/section-hero/hero-img@2x-min.jpg 2x
          " media="(min-width: 768px)" />
        <img class="hero-img" src="/img/section-hero/mobile/hero-img-min.jpg" alt="clock-on-hand" width="335"
          height="410" />
      </picture>
  </div>
</section>