<!-- section Sale -->

<section class="sale section" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-inner">
      <div class="sale-gelery">
        <ul class="sale-list">
          <li class="sale-item">
            <img
              srcset="
                /img/sale/img1_80.jpg   80w,
                /img/sale/img1_146.jpg 146w,
                /img/sale/img1_160.jpg 160w,
                /img/sale/img1_292.jpg 292w
              "
              sizes="(min-width: 768px) 122px, (min-width: 375px) 64px, 100vw"
              src="/img/sale/img6_122.jpg"
              alt="wrist watch"
              width="146"
              height="146"
            />
          </li>
          <li class="sale-item">
            <img
              srcset="
                /img/sale/img2_80.jpg   80w,
                /img/sale/img2_146.jpg 146w,
                /img/sale/img2_160.jpg 160w,
                /img/sale/img2_292.jpg 292w
              "
              sizes="(min-width: 768px) 146px, (min-width: 375px) 80px, 100vw"
              src="/img/sale/img2_146.jpg"
              alt="wrist watch"
              width="146"
              height="146"
            />
          </li>
          <li class="sale-item">
            <img
              srcset="
                /img/sale/img3_80.jpg   80w,
                /img/sale/img3_146.jpg 146w,
                /img/sale/img3_146.jpg 160w,
                /img/sale/img3_292.jpg 292w
              "
              sizes="(min-width: 768px) 146px, (min-width: 375px) 80px, 100vw"
              src="/img/sale/img3_146.jpg"
              alt="wrist watch"
              width="146"
              height="146"
            />
          </li>
          <li class="sale-item">
            <img
              srcset="
                /img/sale/img4_80.jpg   80w,
                /img/sale/img4_146.jpg 146w,
                /img/sale/img4_160.jpg 160w,
                /img/sale/img4_292.jpg 292w
              "
              sizes="(min-width: 768px) 146px, (min-width: 375px) 80px, 100vw"
              src="/img/sale/img4_146.jpg"
              alt="wrist watch"
              width="146"
              height="146"
            />
          </li>
        </ul>
        <div class="sale-wrapper">
          <img
            class="sale-img"
            srcset="
              /img/sale/img5_235.jpg 235w,
              /img/sale/img5_406.jpg 406w,
              /img/sale/img5_470.jpg 470w,
              /img/sale/img5_812.jpg 812w
            "
            sizes="(min-width: 768px) 406px, (min-width: 375px) 235px, 100vw"
            src="/img/sale/img5_406.jpg"
            alt="wrist watch"
          />
        </div>
      </div>
      <div class="sale-blocks">
        <h3 class="sale-heading">Greenlane Watch By Police For MenHT</h3>
        <div class="sale-product">
          <p class="sale-text">Product tag: PEWJK2227003</p>
          <p class="sale-discount">€700</p>
          <p class="sale-price">€1000</p>
        </div>
        <div class="sale-info">
          <h4 class="sale-description">Description</h4>
          <p class="sale-info-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-characteristics">
          <h4 class="sale-description">DETAILS & FEATUREStion</h4>
          <p class="sale-info-text">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
